<div id="<%= dom_id household_member %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Household:</strong>
    <%= household_member.household_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= household_member.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Child:</strong>
    <%= household_member.child? ? "Yes" : "No" %>
  </div>
</div>
